{% extends 'base.html' %}
{% block content %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     
    
    <title>Document</title>
</head>
<body>
<p>Hi {{request.user.username}}</p>
        
<div>   
<div class="container">
    <div class="">
    <form id="form" class="" action="{% url 'note:make_note' %}"  method="POST">
        {% csrf_token %}
        <textarea id='note' class="form-control" style="margin-bottom:5px;" name="note"></textarea>
        <button type="submit"  id="submit" class="btn btn-sm btn-primary" >make note</button>
    </form>
    

        
    </div>
</div>
<br>
{% for note in notes %}

        <div class="container" id="view_notes">
                <div class="col-md-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">{{note.saved_note}}</h3>
                            <p class="mb-auto">{{note.dateCreated|naturaltime}} </p>
                        </div>
                    </div>
            </div>
            </div>
        
{% endfor %}
    
</div>
</script>
  
</body>
</html>
{% endblock %}